/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



/*  .dropdown-horizontal-list li
 {
     font-size: 1rem;
     font-weight: 400;
 
     min-width: 150px;
     padding: 10px;
 
     text-align: left;
 } */



.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* hides crazy overflow just under horiz nav */
#ul-horizontal-nav
{
   overflow-x: auto !important; 
}

.tabs.tabs-transparent .indicator
{
    background-color: rgb(221, 245, 6);
    height: 3px;
}

#mcttTagListDiv .dataTables_filter {
margin-top: 5px;
margin-left: 5px;

}

#mcttTagListDiv .dataTables_filter input[type=search] {
  height: 15px;
  padding: 12px 2px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#mcttTagListDiv input[type=search] {
  height: 25px;
}




#slideOutAdminPanel h4{
  font-size: 18px;
  font-weight: 900;
  margin-top: 5px;
  margin-left: 5px;
}



.collapsible {


}

#pupDetailsCollapsible .collapsible-header {
padding: 8px;
}
/* shows side lines on form */
#pupDetailsCollapsiblex .row {
margin: 8px;
border-left: solid rgb(225, 225, 233);
border-right: solid rgb(225, 225, 233);
}




/* 


.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-9 {
  margin-top: 9px !important;
}

.mt-10 {
  margin-top: 10px !important;
} */
