.tbKanban{
  /* background-image: url("/images/kanbanbg.jpg"); */

}
.backlog2 {
  padding: 5px !important;

}

.CanvasColors{

  border: 0px solid #F6F6F6;
  /* background: #17b22a ; */

  background: #67720e;
  background: #F6F6F6;
  background: #17b22a;

}
.boxCanvas {
  display: block;
  border-radius: 8px;
  border: 0px solid green;
  position: absolute;
  left: 300px;
  top: 80px;
  z-index: 200;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
  padding: 0px !important;
  background: rgb(255, 255, 255);
}
.filterWorkItemsProject {

  cursor: pointer;
}
.selectedRecord {
color: blue;
}
/* backlog menu */
#backlogcontainer1 {
/* width: 150px; */
position: absolute;
left: 3px;
top: 80px;
}
#backlogcontainer2 {
  /* width: 150px; */
  position: absolute;
  left: 250px;
  top: 80px;
  }
.ui-menu {
  width: 300px;
}

.headerL1z {
 /*  padding-left: 0px; */
 padding: 4px;
  background-color: black;
  color: white;
}

.headerL2z {
  padding: 4px;
  background-color: Gray;
  color: White;
  font-weight: 500;
}

.headerL3z {
  padding-left: 6px;
  background-color: rgb(235, 228, 228);
}

.headerL1 {
  padding: 6px;
  background-color: black;
  color: white;
}

.headerL2 {
  padding: 4px;
  background-color: white;
  color: black;
  font-weight: 600;
}

.headerL3 {
padding: 5px;
  background-color:white;
  color: black;
  font-weight: 500;
  padding-left: 15px;
}

.L1 {
  padding-left: 0px;
}

.L2 {
  padding-left: 5px;
  color: rgb(107, 100, 100);
}

.L3 {
  padding-left: 8px;
}

/* end backlog menu */

#backlogAccordion{
  width: 240px;

}

/* Start Work item panel*/

.kanbanItem {
  margin: auto;
/*   font-family: Calibri, sans-serif; */
  font-size:12px;
  /* width: 370px; */
  position: fixed;
  /* left: 300px; */
  top: 80px;
  z-index: 230;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
  padding: 5px !important;
  border: none !important;
  background: rgb(248, 248, 246);
  cursor: move;
}

.tbkbpnlContainerL2 {
  
background: rgb(248, 248, 246);

}

.tbkbpnlDiv2 {
  display: table;
}

  .tbkbpnlDiv2 .tbkbpnlDiv2 {
      display: table-row;
  }

      .tbkbpnlDiv2 .tbkbpnlDiv2 .tbkbpnlDiv2 {
          display: table-cell;

          padding: 5px;
      }

.tbkbpnlHeaderBand1 {
  padding: 2px;
  background: rgb(248, 248, 246);
  color: blue;
  font-size:14px;
  text-align: center;
  font-weight: 700;
}

.tbkbpnlHeaderBand2 {
  padding: 2px;
  color: rgb(36, 29, 29);
  text-align: left;
  font-weight: 800;
  /* width: 100%; */
  cursor: text;
}
.tbkbpnlLabelArea {
  padding: 2px;
  text-align: Left;
  width: 170px; 
  cursor: text;
}

.tbkbpnlFieldArea {

   /* width: 100%;  */
   background: rgb(248, 248, 246);
   cursor: text;
}

/* End Work item panel*/

#kbStatusDate {

  background: rgb(248, 248, 246);
}
  /* tooltip styling */
  .tooltip {
    display:none;
   /*  background:url(/media/img/tooltip/black_arrow_big.png); */
    height:163px;
    padding:40px 30px 10px 30px;
    width:310px;
    font-size:11px;
    color:#fff;
  }
  .ui-dialog-content {
color: rgb(151, 15, 15);

  }